<section id="landing" class="hero is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-two-thirds is-offset-2">
                    <div class="box">
                        <div class="logo-container">
                            <%= image_tag("ProTalk_Logo.png") %>
                        </div>

                        <div class="has-text-centered">
                            <h1 class="title is-3">
                                A safe space to share and read stories about how abortion has affected lives.
                            </h1>

                            <%= image_tag("Lock.png") %>

                            <p style="margin-top: 16px;">
                                We take security seriously. All members are vetted and identies kept anonymous.
                            </p>

                            <div class="controls">
                                <a class="button is-success is-large" style="margin-right: 16px;" href="/signup">Sign Up</a>
                                <a class="button is-success is-large is-outlined" href="/login">Log In</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
