# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ec67bf9c0a39c61d4461b76691ad3f91601f40a2e73e7ceb0e591ca1efb567d1d650831cbc292618dbdc99e1cc7378a85832ac2809ecfe2efbbde8b901a266c7

test:
  secret_key_base: 4a2bd67e2bdd2771038145e0a37bff116dc32725d29b2217a3cfd8c8e175d62d6eee8703e0bee289e88c5318fe8d73a00008af303df53673d67c2dc4710b386d

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
