<section class="section edit-story">
    <div class="columns">
        <div class="column">
            <h1 class="title is-2">Tell Your Story</h1>

            <%= render partial: "form" %>
        </div>

        <div class="column is-one-third is-hidden-mobile tips">
            <p class="subtitle is-4">Need help? Here are some ideas for talking points.</p>

            <p class="subtitle is-6">
                When did you first find out that you or a loved one were/are pregnant?
            </p>

            <p class="subtitle is-6">
                How did you feel before and/or after the abortion?
            </p>

            <p class="subtitle is-6">
                How did you or your loved one decide to get an abortion, and why?
            </p>

            <p class="subtitle is-6">
                What was the experience (<i>i.e.</i> finding a clinic, paying for an abortion, challenges, procedure itself) like?
            </p>
        </div>
    </div>
</section>
