<section class="section">
    <div class="columns">
        <div class="column">
            <%= render @featured_story %>
        </div>
    </div>
    <div class="columns is-multiline">
        <% @stories.each do |story| %>
            <div class="column is-half">
                <%= render story %>
            </div>
        <% end %>
    </div>
</section>
