<section class="section">
    <div class="box story featured">
        <div class="meta">
            <span class="icon">
                <i class="fa fa-heart"></i>
            </span>
        </div>

        <h1 class="title is-3">What does it feel like to have an abortion?</h1>
        <p class="description">
            Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Pellentesque tristique imperdiet tortor.  Donec hendrerit tempor tellus.  Nulla posuere.  Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Proin neque massa, cursus ut, gravida ut, lobortis eget, lacus.  Phasellus purus.  Pellentesque condimentum, magna ut suscipit hendrerit, ipsum augue ornare nulla, non luctus diam neque sit amet urna.  Vivamus id enim.  Integer placerat tristique nisl.
        </p>
        <div class="controls">
            <div class="is-pulled-right">
                <span class="icon">
                    <i class="fa fa-heart"></i>
                </span>
                <button class="button is-success">Read More</button>
            </div>
        </div>
    </div>

    <div class="columns">
        <div class="column">
            <div class="box story featured">
                <div class="meta">
                    <span class="icon">
                        <i class="fa fa-heart"></i>
                    </span>
                </div>

                <h1 class="title is-3">What does it feel like to have an abortion?</h1>
                <p class="description">
                    Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Pellentesque tristique imperdiet tortor.  Donec hendrerit tempor tellus.  Nulla posuere.  Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Proin neque massa, cursus ut, gravida ut, lobortis eget, lacus.  Phasellus purus.  Pellentesque condimentum, magna ut suscipit hendrerit, ipsum augue ornare nulla, non luctus diam neque sit amet urna.  Vivamus id enim.  Integer placerat tristique nisl.
                </p>
                <div class="controls">
                    <div class="is-pulled-right">
                        <span class="icon">
                            <i class="fa fa-heart"></i>
                        </span>
                        <button class="button is-success">Read More</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="box story featured">
                <div class="meta">
                    <span class="icon">
                        <i class="fa fa-heart"></i>
                    </span>
                </div>

                <h1 class="title is-3">What does it feel like to have an abortion?</h1>
                <p class="description">
                    Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Pellentesque tristique imperdiet tortor.  Donec hendrerit tempor tellus.  Nulla posuere.  Proin quam nisl, tincidunt et, mattis eget, convallis nec, purus.  Proin neque massa, cursus ut, gravida ut, lobortis eget, lacus.  Phasellus purus.  Pellentesque condimentum, magna ut suscipit hendrerit, ipsum augue ornare nulla, non luctus diam neque sit amet urna.  Vivamus id enim.  Integer placerat tristique nisl.
                </p>
                <div class="controls">
                    <div class="is-pulled-right">
                        <span class="icon">
                            <i class="fa fa-heart"></i>
                        </span>
                        <button class="button is-success">Read More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
