<section class="section">
    <div class="columns">
        <div class="column">
            <h1 class="title is-2">Tell Your Story</h1>

            <%= render partial: "form" %>
        </div>

        <div class="column is-one-third">
            <p class="subtitle is-4">Need help? Here are some tips.</p>
        </div>
    </div>
</section>
