.story {
    $family-serif: "Playfair Display", serif;

    padding-left: 48px;
    padding-right: 48px;

    .meta {
        color: white;
        width: 200px;
        height: 30px;
        background-color: #0f7687;
        margin-top: -1.25rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;

        .icon {
            margin-top: 4px;
            margin-left: 8px;
        }
    }

    .title {
        margin-top: .75rem;
    }

    .description {
        line-height: 2;
        min-height: 100px;
    }

    .controls {
        display: inline-block;
        width: 100%;

        .icon {
            color: #f39672;
            margin-right: 24px;
            margin-top: 4px;
        }
    }

}

.edit-story {
    .tags {
        user-select: none;
        margin-top: 4px;
        margin-bottom: 8px;

        .tag {
            cursor: pointer;
        }
    }
}