/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

$family-serif: "Playfair Display", serif;
$family-sans-serif: "Alegreya Sans", sans-serif;
$family-primary: $family-sans-serif;

@import "bulma";
@import "font-awesome";

@import "partials/stories";

/* Navbar Logo Copy */
.is-brand {
    font-family: $family-serif;
    font-weight: bold;
    font-size: 36px;
    color: #333333 !important;
}

.title {
    font-family: $family-serif;
    font-weight: bold;
}

.subtitle {
    font-family: $family-serif;
}

.section {
    padding: 3rem 0rem;
}

.alert {
    margin: 8px;
}

.help {
    font-size: 0.9rem;
}